/* Este campo é a pesquisa da tela seja bem-vindo */

.container {
    background-color: #fff;
    display: flex;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid#082A48;;
}

.button {
    background-color: #F9F9FB;
    width: 48px;
    height: 48px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input{
    border: 0;
    outline: 0;
    flex: 1;
    height: 48px;
    font-weight: 400;
    font-size: 16px;
    margin-left: 13px;
}