.container {
    background-color: #fff;
    padding-top: 50px 24px;
    width: 80%;
    margin: auto;
    display: grid;
}

.header {
    display: flex;
    margin-top: 20px;
    margin-bottom: 40px;
    justify-content: center;
    
}

.logoImage {
    width: 100px;
    height: auto;
}

.title {
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    margin-bottom: 30px;
}

.subtitle {
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    color: rgba(27, 27, 27, 0.8);
    text-align: center;
    margin: auto;
    width: 85%;
    padding-bottom: 40px;
    border-bottom: 1.5px solid #DBFF00;
    position: relative;
}

.line {
    border-top: 1.5px solid #E2E2E2;
    margin-top: -1.5px;
}

.formArea {
    margin-top: 56px;
    justify-content: center;
    align-items: center;
}

.inputArea {
    margin-bottom: 32px;
    justify-content: center;
    align-items: center;
}

.forgetArea {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    margin: auto;
    width: 200px;
    position: relative;
    padding-bottom: 40px;
    border-bottom: 1.5px solid #DBFF00;
    
}

.forgetArea a {
    font-weight: 600;
    text-decoration: none;
}

.signupArea {
    margin-top: 62px;
}
